<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="/patient" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>
                        &times;
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
                <h4 class="modal-title">
                    Add New Patient
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="trial-name">
                        Trial
                    </label>
                    <select class="form-control" id="trial-name" {{#unless trials}}disabled{{/unless}}>
                        {{#if trials}}
                            {{#each trials}}
                                <option value="{{ id }}">
                                    {{ name }}
                                </option>
                            {{/each}}
                        {{else}}
                            <option value="{{ trial.id }}">
                                {{ trial.name }}
                            </option>
                        {{/if}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="survey-type">
                        Survey Type
                    </label>
                    <select class="form-control" id="survey-type">
                        <option>
                            Daily
                        </option>
                        <option>
                            Weekly
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
