<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">
            Dashboard
        </li>
    </ol>
    <div class="col-sm-4">
        <div class="card card-inverse card-success">
            <div class="card-block">
                <h4 class="card-title text-center">
                    {{ status.patientCount }} Total Patients
                </h4>
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's total number of patients over time.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    ADD NEW
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-warning">
            <div class="card-block">
                <h4 class="card-title text-center">
                    {{ status.riskCount }} At Risk
                </h4>
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's patients at risk of noncompliance.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    VIEW
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-danger">
            <div class="card-block">
                <h4 class="card-title text-center">
                    {{ status.noncompliantCount }} Noncompliant
                </h4>
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's naughty naughty patients.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    NOTIFY
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Current Trials
                </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Trial ID
                            </th>
                            <th>
                                Study Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Duration
                            </th>
                            <th>
                                # Patients
                            </th>
                            <th>
                                # Noncompliant
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each trials}}
                            <tr>
                                <th scope="row">
                                    {{ id }}
                                </th>
                                <td>
                                    <a href="/trial/{{ id }}">
                                        {{ title }}
                                    </a>
                                </td>
                                <td>
                                    {{ start }}
                                </td>
                                <td>
                                    {{ duration }}
                                </td>
                                <td>
                                    {{ patientCount }}
                                </td>
                                <td>
                                    {{ noncompliantCount }}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
