<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">
            Dashboard
        </li>
    </ol>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Quick Actions
                </h4>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.patientCount }}
                        </strong>
                        total patients.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        ADD NEW
                    </button>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.noncompliantCount }}
                        </strong>
                        total noncompliant patients.
                    </p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#notifyModal">
                        NOTIFY
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <canvas id="radarChart" width="400" height="400"></canvas>
    </div>
    <div class="col-lg-4 col-md-6">
        <div id="legend" class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Legend
                </h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">
                            Trials
                        </h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                                ADD NEW
                            </button>
                          </div>
                          <div class="btn-group" role="group">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown">
                                Status
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Pending</a>
                                <a class="dropdown-item" href="#">Upcoming</a>
                                <a class="dropdown-item" href="#">In Progress</a>
                                <a class="dropdown-item" href="#">Completed</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div><br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Target
                                </th>
                                <th>
                                    Recruited
                                </th>
                                <th>
                                    Active
                                </th>
                                <th>
                                    IRB Approval Date
                                </th>
                                <th>
                                    IRB End Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#unless trials.length}}
                                <tr>
                                    <td colspan="8">
                                        <div class="card card-inverse card-info text-center card-block">
                                            <div class="card-title">
                                                No Clinical Trials
                                            </div>
                                            <div class="card-text">
                                                Please contact an administrator to create a new trial.
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/unless}}
                            {{#each trials}}
                                <tr>
                                    <td rowspan=2>
                                        <a href="/trial/{{ id }}">
                                            {{ name }}
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <br></br>
                                        IRB ID: {{ IRBID }}
                                    </td>
                                    <td>
                                        {{ targetCount }} Patients
                                    </td>
                                    <td>
                                        {{ recruitedCount }} Patients
                                    </td>
                                    <td>
                                        {{ activeCount }} Patients
                                    </td>
                                    <td rowspan=2>
                                        {{ start }}
                                    </td>
                                    <td rowspan=2>
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <progress class="progress progress-good-and-bad" value="{{ recruitedPercent }}" max="100">
                                            <div class="progress">
                                                <span class="progress-bar" style="width: {{ recruitedPercent }}%;">25%</span>
                                            </div>
                                        </progress>
                                        {{ recruitedPercent }}% Recruited <br>
                                        {{ unrecruitedPercent }}% Unrecruited
                                    </td>
                                    <td>
                                        <progress class="progress" value="{{ activePercent }}" max="100">
                                            <div class="progress">
                                                <span class="progress-bar" style="width: {{ activePercent }}%;">25%</span>
                                            </div>
                                        </progress>
                                        {{ activePercent }}% Active <br>
                                        {{ completedPercent }}% Completed
                                    </td>
                                    <td>
                                        <progress class="progress progress-good-and-bad" value="{{ compliantPercent }}" max="100">
                                            <div class="progress">
                                                <span class="progress-bar" style="width: {{ compliantPercent }}%;">25%</span>
                                            </div>
                                        </progress>
                                        {{ compliantPercent }}% Compliant <br>
                                        {{ noncompliantPercent }}% Noncompliant
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{> notify-patient}}
{{> add-trial}}

<script>
    var data = JSON.parse('{{{ graphData }}}');
    var ctx = document.getElementById('radarChart').getContext('2d');
    var options = {
        legendTemplate: '<ul class="list-group list-group-flush"><% for (var i = 0; i < data.datasets.length; i++){%><li class="list-group-item"><i style="color:<%=data.datasets[i].backgroundColor%>" class="fa fa-circle"></i> <%=data.datasets[i].label%></li><%}%></ul>'
    };
    var radarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });
    var legend = document.getElementById('legend');

    legend.innerHTML += radarChart.generateLegend();
</script>
