<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
    <div class="col-sm-4">
        <div class="card card-inverse card-success">
            <div class="card-block">
                <h4 class="card-title text-center">2,032 Total Patients</h4>
                <!-- <h4 class="card-title text-center">{{patientCount}} Total Patients</h4> -->
                <p class="card-text">Here is where we would have a sweet graph of the clinician's total number of patients over time.</p>
                <a href="#" class="btn btn-secondary btn-block">ADD NEW</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-warning">
            <div class="card-block">
                <h4 class="card-title text-center">52 At Risk</h4>
                <!-- <h4 class="card-title text-center">{{riskCount}} At Risk</h4> -->
                <p class="card-text">Here is where we would have a sweet graph of the clinician's patients at risk of noncompliance.</p>
                <a href="#" class="btn btn-secondary btn-block">VIEW</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-danger">
            <div class="card-block">
                <h4 class="card-title text-center">11 Noncompliant</h4>
                <!-- <h4 class="card-title text-center">{{noncompliantCount}} Noncompliant</h4> -->
                <p class="card-text">Here is where we would have a sweet graph of the clinician's naughty naughty patients.</p>
                <a href="#" class="btn btn-secondary btn-block">NOTIFY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Current Trials</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Trial ID</th>
                            <th>Study Name</th>
                            <th>Start Date</th>
                            <th>Duration</th>
                            <th># Patients</th>
                            <th># Noncompliant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ortho Post Op</td>
                            <td>09/01/2015</td>
                            <td>180 days</td>
                            <td>678</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <a href="/trial">Sickle Cell</a>
                            </td>
                            <td>08/25/2015</td>
                            <td>60 days</td>
                            <td>1,023</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Pain Post Op</td>
                            <td>09/14/2015</td>
                            <td>90 days</td>
                            <td>331</td>
                            <td>1</td>
                        </tr>
                        <!--
                        <tr>
                            <th scope="row">3</th>
                            <td>{{trialTitle}}</td>
                            <td>{{trialStart}}</td>
                            <td>{{trialDuration}}</td>
                            <td>{{trialPatientCount}}</td>
                            <td>{{trialNoncompliantCount}}</td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
