<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">
            Dashboard
        </li>
    </ol>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Quick Actions
                </h4>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.patientCount }}
                        </strong>
                        total patients.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        ADD NEW
                    </button>
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>
                                            &times;
                                        </span>
                                        <span class="sr-only">
                                            Close
                                        </span>
                                    </button>
                                    <h4 class="modal-title">
                                        Add New Patient
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Trial
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{#each trials}}
                                                        <a class="dropdown-item" href="#">
                                                            {{ title }}
                                                        </a>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Survey Type
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">
                                                        Daily
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Weekly
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" disabled>
                                                Generate PID
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.noncompliantCount }}
                        </strong>
                        total noncompliant patients.
                    </p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#notifyModal">
                        NOTIFY
                    </button>
                    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>
                                            &times;
                                        </span>
                                        <span class="sr-only">
                                            Close
                                        </span>
                                    </button>
                                    <h4 class="modal-title">
                                        Notify Noncompliant Patients
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Trial
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{#each trials}}
                                                        <a class="dropdown-item" href="#">
                                                            <span class="label label-pill label-danger">
                                                                {{ noncompliantCount }}
                                                            </span>
                                                            {{ title }}
                                                        </a>
                                                    {{/each}}
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">
                                                        <span class="label label-pill label-danger">
                                                            {{ status.noncompliantCount }}
                                                        </span>
                                                        All
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Notification Type
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">
                                                        In App
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Toast
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Push
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Notify
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <p class="card-text">
                    Placeholder for radar chart. Need server-side DOM manipulation.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Current Trials
                </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Trial ID
                            </th>
                            <th>
                                Study Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Duration
                            </th>
                            <th>
                                # Patients
                            </th>
                            <th>
                                # Noncompliant
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each trials}}
                            <tr>
                                <th scope="row">
                                    {{ id }}
                                </th>
                                <td>
                                    <a href="/trial/{{ id }}">
                                        {{ title }}
                                    </a>
                                </td>
                                <td>
                                    {{ start }}
                                </td>
                                <td>
                                    {{ duration }}
                                </td>
                                <td>
                                    {{ patientCount }}
                                </td>
                                <td>
                                    {{ noncompliantCount }}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
