<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">
            Dashboard
        </li>
    </ol>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Quick Actions
                </h4>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.patientCount }}
                        </strong>
                        total patients.
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        ADD NEW
                    </button>
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>
                                            &times;
                                        </span>
                                        <span class="sr-only">
                                            Close
                                        </span>
                                    </button>
                                    <h4 class="modal-title">
                                        Add New Patient
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Trial
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{#each trials}}
                                                        <a class="dropdown-item" href="#">
                                                            {{ title }}
                                                        </a>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Survey Type
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">
                                                        Daily
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Weekly
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" disabled>
                                                Generate PID
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="card-text">
                        You have
                        <strong>
                            {{ status.noncompliantCount }}
                        </strong>
                        total noncompliant patients.
                    </p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#notifyModal">
                        NOTIFY
                    </button>
                    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>
                                            &times;
                                        </span>
                                        <span class="sr-only">
                                            Close
                                        </span>
                                    </button>
                                    <h4 class="modal-title">
                                        Notify Noncompliant Patients
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Trial
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{#each trials}}
                                                        <a class="dropdown-item" href="#">
                                                            <span class="label label-pill label-danger">
                                                                {{ noncompliantCount }}
                                                            </span>
                                                            {{ title }}
                                                        </a>
                                                    {{/each}}
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">
                                                        <span class="label label-pill label-danger">
                                                            {{ status.noncompliantCount }}
                                                        </span>
                                                        All
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="dropdown open">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Notification Type
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">
                                                        In App
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Toast
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        Push
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Notify
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <canvas id="radarChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-4">
        <div id="legend" class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Legend
                </h4>
            </div>
        </div>
        <script>
            var data = {
                labels: ["Compliant", "Semicompliant", "Noncompliant"],
                datasets: [
                    {
                        label: "Trial 1",
                        fillColor: "rgba(133, 17, 75, 0.2)",
                        strokeColor: "rgb(133, 17, 75)",
                        pointColor: "rgb(133, 17, 75)",
                        data: [100, 10, 50]
                    },
                    {
                        label: "Trial 2",
                        fillColor: "rgba(0, 31, 62, 0.2)",
                        strokeColor: "rgb(0, 31, 62)",
                        pointColor: "rgb(0, 31, 62)",
                        data: [10, 50, 100]
                    },
                    {
                        label: "Trial 3",
                        fillColor: "rgba(177, 13, 201, 0.2)",
                        strokeColor: "rgb(177, 13, 201)",
                        pointColor: "rgb(177, 13, 201)",
                        data: [50, 100, 10]
                    }
                ]
            };
            var ctx = document.getElementById("radarChart").getContext("2d");
            var options = {
                legendTemplate : "<ul class=\"list-group list-group-flush\"><% for (var i=0; i<datasets.length; i++){%><li class=\"list-group-item\"><i style=\"color:<%=datasets[i].strokeColor%>\" class=\"fa fa-circle\"></i> <%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
            }
            var myNewChart = new Chart(ctx).Radar(data, options);
            var legend = document.getElementById("legend");
            legend.innerHTML += myNewChart.generateLegend();
        </script>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Current Trials
                </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Trial ID
                                </th>
                                <th>
                                    Study Name
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    # Patients
                                </th>
                                <th>
                                    # Noncompliant
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each trials}}
                                <tr>
                                    <th scope="row">
                                        {{ id }}
                                    </th>
                                    <td>
                                        <a href="/trial/{{ id }}">
                                            {{ title }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ start }}
                                    </td>
                                    <td>
                                        {{ duration }}
                                    </td>
                                    <td>
                                        {{ patientCount }}
                                    </td>
                                    <td>
                                        {{ noncompliantCount }}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
