
<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li class="active">
            Dashboard
        </li>
    </ol>
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        Welcome, {{ user.username }}!
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="card">
                <canvas id="radarChart" width="100%" height="100%"></canvas>
            </div>
        </div>
        <div class="col-xs-12"><br>
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="card-title">
                                Trials
                            </h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTrial" disabled="disabled">
                                        ADD NEW
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown">
                                            STATUS
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-item">
                                                All Trials
                                            </div>
                                            <div class="dropdown-item">
                                                Upcoming
                                            </div>
                                            <div class="dropdown-item">
                                                In Progress
                                            </div>
                                            <div class="dropdown-item">
                                                Completed
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="trials">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Target
                                    </th>
                                    <th>
                                        Recruited
                                    </th>
                                    <th>
                                        IRB Approval Date
                                    </th>
                                    <th>
                                        IRB End Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#unless trials.length}}
                                    <tr>
                                        <td colspan="8">
                                            <div class="card card-inverse card-info text-center card-block">
                                                <div class="card-title">
                                                    No Clinical Trials
                                                </div>
                                                <div class="card-text">
                                                    Please contact an administrator to create a new trial.
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/unless}}
                                {{#each trials}}
                                    <tr>
                                        <td data-search="{{ name }}" data-order="{{ name }}">
                                            <a href="/trial/{{ TrialId }}">
                                                {{ Name }}
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <br>
                                            <br>
                                            IRB ID: {{ IRBID }}
                                        </td>
                                        <td data-search="{{ targetCount }}" data-order="{{ targetCount }}">
                                            {{ TargetCount }} Patients
                                            <hr>
                                            <progress class="progress progress-good-and-bad" value="{{ recruitedPercent }}" max="100">
                                                <div class="progress">
                                                    <span class="progress-bar" style="width: {{ recruitedPercent }}%;">
                                                        25%
                                                    </span>
                                                </div>
                                            </progress>
                                            {{ recruitedPercent }}% Recruited
                                            <br>
                                            {{ unrecruitedPercent }}% Unrecruited
                                        </td>
                                        <td data-search="{{ recruitedCount }}" data-order="{{ recruitedCount }}">
                                            {{ recruitedCount }} Patients
                                            <hr>
                                            <progress class="progress" value="{{ activePercent }}" max="100">
                                                <div class="progress">
                                                    <span class="progress-bar" style="width: {{ activePercent }}%;">
                                                        25%
                                                    </span>
                                                </div>
                                            </progress>
                                            <!-- {{ activePercent }}% Active -->
                                            <br>
                                            <!-- {{ completedPercent }}% Completed -->
                                        </td>
                                        <td>
                                            {{ start }}
                                        </td>
                                        <td>
                                            {{ end }}
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> add-trial}}

<script src="/static/script/dashboard.js" defer></script>
