<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
<style>
.highlight {
    border: 1px solid red;
}


.highlight2 {
    border: 1px solid green;
}

</style>

<script type="text/javascript">
$(function() {
    var startDate;
    var endDate;
    var firstDayMonth;
    var lastDayMonth;
    
    var selectCurrentWeek = function() {
        window.setTimeout(function () {
            $('.date-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            $(".ui-datepicker-current-day").parent().addClass('highlight');
        }, 1);
    }
    

 var $weekPicker = $('.date-picker');

    function updateWeekStartEnd() {
        var date = $weekPicker.datepicker('getDate') || new Date();
         startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
        endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
        
    }

    updateWeekStartEnd();

    $weekPicker.datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function (dateText, inst) {
            updateWeekStartEnd();
            updateDateText(inst);
            selectCurrentWeek();
        },
        beforeShowDay: function (date) {
            var cssClass = '';
            if (date >= startDate && date <= endDate) cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];
        },
        onChangeMonthYear: function (year, month, inst) {
            selectCurrentWeek();
        }
    });

    selectCurrentWeek();

var selectCurrentMonth = function () {
        window.setTimeout(function () {
            $('.date-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
             $(".ui-datepicker-current-day").parent().addClass('highlight2');
            
        }, 1);
    }
    var $monthPicker = $('.date-picker');

    function updateMonthStartEnd() {
        var date = $monthPicker.datepicker('getDate') || new Date();
    
        firstDayMonth = new Date(date.getFullYear(), date.getMonth()+1, 1);
        lastDayMonth = new Date(date.getFullYear(), date.getMonth() + 2, 0);
        
        
    }

    updateMonthStartEnd();

   

    $monthPicker.datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function (dateText, inst) {
            updateMonthStartEnd();
            updateDateText(inst);
            selectCurrentMonth();
        },
        beforeShowDay: function (date) {
            var cssClass = '';
           
           if (date >= firstDayMonth && date <= lastDayMonth) cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];
        },
       
    });

    selectCurrentMonth();


    
});
</script>

</head>


<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Trial: {{ trial.name }}
            </a>
        </li>
        <li class="active">
            Patient: {{ patient.id }}
        </li>
    </ol>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title text-center">
                    {{ trial.name }} Trial
                </h4>
                <p class="card-text">
                    {{ trial.description }}
                </p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Start Date
                            </th>
                            <td>
                                {{ trial.start }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Duration
                            </th>
                            <td>
                                {{ trial.duration }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Patient Count
                            </th>
                            <td>
                                {{ trial.patientCount }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Noncompliant Count
                            </th>
                            <td>
                                {{ trial.noncompliantCount }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

<body>
    <div class="date-picker"></div>
    <br /><br />
</body>
</div>

 </div>




    <div class="col-sm-4">
        <div class="card card-inverse card-primary">
            <div class="card-block">
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's total patients over time for this trial.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    ADD NEW
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Patients' Surveys
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Survey ID
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Stage
                            </th>
                            <th>
                                Survey Type
                            </th>
                            <th>
                                Start Time
                            </th>
                            <th>
                                End Time
                            </th>
                            <th>
                                User Submission Time
                            </th>
                            <th>
                                Actual Submission Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each surveys}}
                            <tr class="table-{{#if completed}}success{{else}}danger{{/if}}">
                                <th scope="row">
                                    {{ id }}
                                </th>
                                <td>
                                    {{ completed }}
                                </td>
                                <td>
                                    {{ stage }}
                                </td>
                                <td>
                                    {{ surveyType }}
                                </td>
                                <td>
                                    {{ startTime }}
                                </td>
                                <td>
                                    {{ endTime }}
                                </td>
                                <td>
                                    {{ userSubmissionTime }}
                                </td>
                                <td>
                                    {{ actualSubmissionTime  }}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>
