<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Trial: {{ trial.name }}
            </a>
        </li>
        <li class="active">
            Patient: {{ patient.pin }}
        </li>
    </ol>
    <div class="col-sm-12">
        <div id="calendar"></div>
    </div>
    <div class="col-sm-12">
        <div class="card">
          <br>
          <canvas id="complianceChart" width="400" height="100px"></canvas>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Patients' Surveys
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Survey ID
                                </th>
                                <th>
                                    Completed
                                </th>
                                <th>
                                    Stage
                                </th>
                                <th>
                                    Survey Type
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                                <th>
                                    User Submission Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each surveys}}
                                <tr class="table-{{#if completed}}success{{else}}danger{{/if}}">
                                    <th scope="row">
                                        {{ id }}
                                    </th>
                                    <td>
                                        {{ completed }}
                                    </td>
                                    <td>
                                        {{ stage }}
                                    </td>
                                    <td>
                                        {{ surveyType }}
                                    </td>
                                    <td>
                                        {{ start }}
                                    </td>
                                    <td>
                                        {{ end }}
                                    </td>
                                    <td>
                                        {{ userSubmissionTime }}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        'use strict';
        var surveys = JSON.parse('{{{ surveysJson }}}');

        var config = {
            type: 'line',
            data: {
                labels: ['01/01/2015 20:00', '01/02/2015 21:00', '01/03/2015 22:00', '01/04/2015 23:00', '01/05/2015 03:00', '01/06/2015 10:00', '01/07/2015 04:00'],
                datasets: [
                    {
                        label: '% Time left until daily survey expired',
                        data: [100, 70, 75, 0, 40, 50, 0]
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [
                        {
                            type: 'time',
                            display: true,
                            time: {
                                format: 'MMDDYYYY HHmm',
                                round: 'day'
                            },
                            scaleLabel: {
                                show: true,
                                labelString: ''
                            }
                        }
                    ],
                    yAxes: [
                        {
                            display: true,
                            scaleLabel: {
                                show: true,
                                labelString: '% Time Left'
                            }
                        }
                    ]
                },
                elements: {
                    line: {
                        tension: 0.3
                    }
                }
            }
        };

        var ctx = document.getElementById('complianceChart').getContext('2d');

        $('#calendar').fullCalendar({
            defaultView: 'basicWeek',
            allDayDefault: true,
            contentHeight: 'auto',
            events: surveys
        });

        new Chart(ctx, config);
	});
</script>
