<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Trial: {{ trial.name }}
            </a>
        </li>
        <li class="active">
            Patient: {{ patient.id }}
        </li>
    </ol>
    <div class="col-sm-8">
        <div id="calendar"></div>
    </div>
    <div class="col-lg-4 col-md-6">
        <canvas id="scatterChart" width="400" height="400"></canvas>
    </div>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">
                            Trials
                        </h4>
                    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-primary">
            <div class="card-block">
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's total patients over time for this trial.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    ADD NEW
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Patients' Surveys
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Survey ID
                                </th>
                                <th>
                                    Completed
                                </th>
                                <th>
                                    Stage
                                </th>
                                <th>
                                    Survey Type
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                                <th>
                                    User Submission Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each surveys}}
                                <tr class="table-{{#if completed}}success{{else}}danger{{/if}}">
                                    <th scope="row">
                                        {{ id }}
                                    </th>
                                    <td>
                                        {{ completed }}
                                    </td>
                                    <td>
                                        {{ stage }}
                                    </td>
                                    <td>
                                        {{ surveyType }}
                                    </td>
                                    <td>
                                        {{ start }}
                                    </td>
                                    <td>
                                        {{ end }}
                                    </td>
                                    <td>
                                        {{ userSubmissionTime }}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        'use strict';
        var surveys = JSON.parse('{{{ surveysJson }}}');

        $('#calendar').fullCalendar({
            allDayDefault: true,
            events: surveys
        }); 
	});

    var scatterChartData = [
                {
                    label: 'Compliance Chart',
                    strokeColor: '#A31515',
                    data: [
                        {
                            x: new Date('2011-04-11T11:45:00'),
                            y: 25
                        },
                        {
                            x: new Date('2011-04-11T12:51:00'),
                            y: 28
                        },
                        {
                            x: new Date('2011-04-11T14:10:00'),
                            y: 22
                        },
                        {
                            x: new Date('2011-04-11T15:15:00'),
                            y: 18
                        },
                        {
                            x: new Date('2011-04-11T17:00:00'),
                            y: 25
                        },
                        {
                            x: new Date('2011-04-11T21:00:00'),
                            y: 24
                        },
                        {
                            x: new Date('2011-04-12T13:00:00'),
                            y: 24
                        }
                    ]
                }];

        var ctx = document.getElementById("scatterChart").getContext("2d");
        var myDateLineChart = new Chart(ctx).Scatter(scatterChartData, {
                bezierCurve: true,
                showTooltips: true,
                scaleShowHorizontalLines: true,
                scaleShowLabels: true,
                scaleType: "date",
                scaleLabel: "<%=value%>°C"
            });
</script>
