<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Trial: {{ trial.name }}
            </a>
        </li>
        <li class="active">
            Patient: {{ patient.id }}
        </li>
    </ol>
    <div class="col-sm-8">
        <div id="calendar"></div>
    </div>
    <div class="col-sm-4">
        <div class="card card-inverse card-primary">
            <div class="card-block">
                <p class="card-text">
                    Here is where we would have a sweet graph of the clinician's total patients over time for this trial.
                </p>
                <a href="#" class="btn btn-secondary btn-block">
                    ADD NEW
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Patients' Surveys
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Survey ID
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Stage
                            </th>
                            <th>
                                Survey Type
                            </th>
                            <th>
                                Start Time
                            </th>
                            <th>
                                End Time
                            </th>
                            <th>
                                User Submission Time
                            </th>
                            <th>
                                Actual Submission Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each surveys}}
                            <tr class="table-{{#if completed}}success{{else}}danger{{/if}}">
                                <th scope="row">
                                    {{ id }}
                                </th>
                                <td>
                                    {{ completed }}
                                </td>
                                <td>
                                    {{ stage }}
                                </td>
                                <td>
                                    {{ surveyType }}
                                </td>
                                <td>
                                    {{ startTime }}
                                </td>
                                <td>
                                    {{ endTime }}
                                </td>
                                <td>
                                    {{ userSubmissionTime }}
                                </td>
                                <td>
                                    {{ actualSubmissionTime  }}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        'use strict';
        var now = new Date();
        var date = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate(); 
        var surveys = JSON.parse('{{ surveys }}');             
        $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
                        
			defaultDate: date,
			editable: true,
			eventLimit: true, 
			events: [
				{       
					title: '1234 survey',
					start: '2015-10-05T12:00:00', 
                                        end: '2015-10-08T11:59:00',
                                        color: '#00FF00' // green
                                        
				},
				{
					title: '6546 survey',
					start: '2015-10-04T11:00:00',
                                        end: '2015-10-18T13:00:00',
                                        color: '#00FF00', // red
                                        dow: [1] // weekly trial, every Monday
				},
				{
					title: '7865 survey',
					start: '2015-10-01T12:00:00',
                                        end: '2015-10-31T11:59:00',
                                        color: '#FF0000'     
                                        
				}
				
			]
		});
		
	});

</script>
