<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Trial: {{ trial.name }}
            </a>
        </li>
        <li>
            <a href="/trial/{{ trial.id }}">
                Patient: {{ patient.pin }}
            </a>
        </li>
        <li class="active">
            Survey: {{ survey.id }}
        </li>
    </ol>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    {{ survey.type }} Survey
                </h4>
                <p class="card-text">
                    Available {{ survey.startTime }} to {{ survey.endTime}}.
                    <br>
                    Taken {{ survey.userSubmissionTime }}.
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Question
                                </th>
                                <th>
                                    Options
                                </th>
                                <th>
                                    Answer
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each survey.questions}}
                                <tr>
                                    <td style="width:50%">
                                        {{ questionText }}
                                    </td>
                                    <td>
                                        {{#each questionType}}
                                        <li>{{this}}</li>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{ questionInstance }}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        'use strict';
	});
</script>
