<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>
        <li class="active">
            Trial: {{ trial.name }}
        </li>
    </ol>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title text-center">
                    {{ trial.name }} Trial
                </h4>
                <p class="card-text">
                    {{ trial.description }}
                </p>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Start Date
                            </th>
                            <td>
                                {{ trial.start }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Duration
                            </th>
                            <td>
                                {{ trial.duration }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Patient Count
                            </th>
                            <td>
                                {{ trial.patientCount }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Noncompliant Count
                            </th>
                            <td>
                                {{ trial.noncompliantCount }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-7">
        <canvas id="radarChart" width="400" height="400"></canvas>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-5">
        <div id="legend" class="card">
            <div class="card-block">
                <h4 class="card-title">
                    Legend
                </h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">
                            Patients
                        </h4>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addModal">
                            ADD NEW
                        </button>
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span>
                                                &times;
                                            </span>
                                            <span class="sr-only">
                                                Close
                                            </span>
                                        </button>
                                        <h4 class="modal-title">
                                            Add New Patient
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <div class="dropdown open">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Trial
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {{#each trials}}
                                                            <a class="dropdown-item" href="#">
                                                                {{ title }}
                                                            </a>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="dropdown open">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Survey Type
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">
                                                            Daily
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            Weekly
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary" disabled>
                                                    Generate PID
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Patient ID
                                </th>
                                <th>
                                    Stage
                                </th>
                                <th>
                                    Survey Type
                                </th>
                                <th>
                                    Last Taken
                                </th>
                                <th>
                                    Total Missed
                                </th>
                                <th>
                                    Consecutive Missed
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each patients}}
                                <tr class="table-{{ status }}">
                                    <th scope="row">
                                        <a href="/patient/{{ id }}">
                                            {{ id }}
                                        </a>
                                    </th>
                                    <td>
                                        {{ stage }}
                                    </td>
                                    <td>
                                        {{ surveyType }}
                                    </td>
                                    <td>
                                        {{ startTime }}
                                    </td>
                                    <td>
                                        {{ endTime }}
                                    </td>
                                    <td>
                                        {{ userSubmissionTime }}
                                    </td>
                                    <td>
                                        {{ actualSubmissionTime  }}
                                    </td>
                                    <td>
                                        {{ completed }}
                                    </td>
                                    <td>
                                        {{ lastTaken }}
                                    </td>
                                    <td>
                                        {{ totalMissed }}
                                    </td>
                                    <td>
                                        {{ consecutiveMissed }}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var data = JSON.parse('{{{ graphData }}}'); // eslint-disable-line quotes
    var ctx = document.getElementById("radarChart").getContext("2d");
    var options = {
        legendTemplate: "<ul class=\"list-group list-group-flush\"><% for (var i=0; i<segments.length; i++){%><li class=\"list-group-item\"><i style=\"color:<%=segments[i].fillColor%>\" class=\"fa fa-circle\"></i> <%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
    };
    var myNewChart = new Chart(ctx).Doughnut(data, options);
    var legend = document.getElementById("legend");

    legend.innerHTML += myNewChart.generateLegend();
</script>
